<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Admin Pannel</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <script src="https://kit.fontawesome.com/b3d0fe1f35.js" crossorigin="anonymous"></script>

     <!-- Boxicons -->
     <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>


    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="/assets/styles/bootstrap.min.css">
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="/assets/styles/style.css">
    <!-- <link href="css/style.css" rel="stylesheet"> -->

      <!-- DATA TABLE -->

      <link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css" />

      
   
      


</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-black" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-white navbar-light">
                <a href="./adminPannel.html" class="navbar-brand mx-4 mb-3">
                    <img src="/assets/Images/logowrk.png" width="200px" alt="">
               </a>
               
                <div class="navbar-nav w-100 ">
                    <a href="./adminPannel.html" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    
                    <a href="./product.html" class="nav-item nav-link"><i class="fa-solid fa-suitcase-rolling" style="color: #000000;"></i></i>Products</a>
                    <a href="./category.html" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Category</a>
                    <a href="./orders.html" class="nav-item nav-link"><i class="fa-solid fa-box-open me-2" style="color: #000000;"></i>Orders</a>
                    <a href="./customers.html" class="nav-item nav-link"><i class="fa-solid fa-users" style="color: #000000;"></i>Customers</a>
                    
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <img src="/assets/Images/logowrk.png" width="150px" class="img-fluid d-md-none" alt="">
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars " style="color: #000000;"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        
                      
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Notificatin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Profile updated</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">New user added</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Password changed</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all notifications</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                           <i class="fa fa-user" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <a href="#" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->


            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="container d-flex mb-5">
                        <div >
                          <h5><strong> Products</strong> </h5>
                         <span class="opacity-50"> Dashboard > Product > Edit Product</span> 
                        </div>
                        <div class="ms-auto me-5"> 
                         <a href="#" class="btn text-white me-auto text-uppercase  btn-dark fw-bold" > Update </a>
                        </div>
                      </div>
              
                    
                    <div>
                        <div class="container d-flex">
                            <div class="col-7">
                                <h6> <strong> General Information</strong></h6>
                                
                                    
                      <div class="mb-3">
                        <label for="product-name"  class="form-label">Product Name</label>
                        <input type="text" class="form-control" id="productName" name="name" placeholder="Item 1 ">
                        
                      </div>
                      <div class="mb-5">
                        <label for="discription" class="form-label">Discription</label>
                        <textarea class="form-control text-break" rows="5" name="discription" id="comment"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores alias ratione adipisci earum exercitationem recusandae sint hic nemo. Natus ratione rerum accusamus impedit aspernatur? Exercitationem officia a velit provident rem! </textarea>
                      </div>
                     
                    
                   
                                
                    
                    <div class="mb-3">                                
                   
                    <div class="mt-5">
                      <h6> <strong> Pricing</strong></h6>
                      <div class="container d-flex">
                       <div class="col-6 me-2">
                         <label for="product-rice"  class="form-label">Base Price</label>
                      <input type="text" class="form-control" id="productPrice" name="price" placeholder="₹5999">
                      
                       </div>
                       <div class="col-6 me-2">
                         <label for="product-rice"  class="form-label">Sale Price</label>
                      <input type="text" class="form-control" id="productPrice" name="salePrice" placeholder="₹5000">
                      
                       </div>
                      </div>
                      <div class="container d-flex">
                        <div class="col-6 me-2">
                          <label for="product-discountType"  class="form-label mt-3">Offer Type</label>
                        <select class="form-select" name="discountType" aria-label="Default select example">
                          <option selected>Select</option>
                          <option value="Clearence Sale">Clearence Sale</option>
                          <option value="Season">Season</option>
                          <option value="Daily saver">Daily saver</option>
                          <option value="Nill">Nill</option>
                         
                        </select>
                    
                        </div>
                        <div class="col-6 ms-2">
                          <label for="product-diacountPercentage"  class="form-label mt-3">Discount Percentage</label>
                        <select class="form-select" name="percentage" aria-label="Default select example">
                          <option selected>Select</option>
                          <option value="70">70% or more</option>
                          <option value="60">60% or more</option>
                          <option value="50">50% or more</option>
                          <option value="40">40% or more</option>
                          <option value="30">30% or more</option>
                          <option value="0">nill</option>
                        </select>
                    
                        </div>
                        
                      </div>
                    </div>
                    <div class="mt-5 mb-5 pb-5">
                      <h6> <strong> Inventory</strong></h6>
                      <div class="container d-flex">
                        <div class="col-6 me-2">
                          <label for="product-sku"   class="form-label mt-3">SKU</label>
                          <input type="text" class="form-control" id="product-SKU" name="SKU" placeholder="565">
                        </div>
                        <div class="col-6 ms-2">
                          <label for="product-Quantity"  class="form-label mt-3">Quantity</label>
                          <input type="text" class="form-control" id="productQty" name="qty" placeholder="5">
                        </div>
                      </div>
                    </div>
                    
                    </div>
                    
                            </div>
                    
                    
                            <div>
                    
                              <div class="ms-5">
                                <h6> <strong> Category</strong></h6>
                                
                                    
                                <div class="mb-3">
                                 <label for="product-category" class="form-label">Product Category</label>
                                 <select class="form-select" name="category" aria-label="Default select example">
                                   <option selected>Select the Category</option>
                                  
                                       <option value="">Category 1</option>
                                       <option value="">Category 2</option>
                                       <option value="">Category 3</option>
                                    
                                   
                                 </select>
                               </div>
                               
                        <label for="product-status"  class="form-label mt-3">Status</label>
                        <select class="form-select" name="status" aria-label="Default select example">
                          <option selected>Select</option>
                          
                          <option value="Out of stock" >Out of stock</option>
                          <option value="Available">Available</option>
                         
                        </select>
                        
                      </div> 
           
           
           
           
                       </form>
           
           
           
           
                     </div>
           
                   
             
           
           
                   </div>
                    </div>

                    <!-- ******************** -->
                    <h6> <strong> Media</strong></h6>
                     
         
                    <div class="mb-3">
                    <label for="product-image" class="form-label"> Main Photo</label>
                    <!--.............................................................................-->
                    <div class="col-md-12">
                     <span>
                       <img src="/assets/Images/6E15DEFD-3729-4BB2-B55B-9A6C4126DFF4.webp" alt="" width="150px" height="auto">
                       <a style="background: #000000; color: #ffffff;" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                         <strong>Edit Image</strong>
                       </a>
                       <div class="mt-5 mb-5">
                        <div class="d-flex gap-3">
                       
                
                         <form action=""  method="post" id="subImgForm" enctype="multipart/form-data">
                           <div class="d-flex mb-4 ">
                           <label class="btn" style="color: #000000; margin-top: -8px;">
                          
                             
                               
                              <input type="file" multiple style="display: none;" id="subImageInput" onchange="preview(this)" name="sub_Img">
                           </label>
                           <div id="selectedImagesContainer">
                             <!-- Display selected images here -->
                         </div>
                               </div>
                
                         </form>
                        
                
                        
                
                
                        </div>             
                          
                        
                          
                            
                    
                        </div>
                         
                        
                    </div>
                
                    <!-- ******************** -->
                
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                     <div class="modal-dialog">
                       <div class="modal-content">
                         <div class="modal-header">
                           <h1 class="modal-title fs-5" id="exampleModalLabel"><strong>Change Image</strong> </h1>
                           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                         </div>
                 
                         <div>
                           <form action="" method="post" id="addressForm" enctype="multipart/form-data">
                             
                                 <div class="modal-body">
                                  
                            
                                     <div class="container mx-4">
                                       
                                     <div class="d-flex gap-3 pe-3">
                
                                       <span id="imageContainer">
                                        
                                           <img src="/assets/Images/6E15DEFD-3729-4BB2-B55B-9A6C4126DFF4.webp" alt="" width="150px" height="auto" id="preview-image">
                                        
                                          
                                         <input type="file" class="form-control" name="main_IMG" id="imageInput"  onchange="previewImage(event)">
                                       </span>
                                        
                                    
                                    
                                    
                                     </div>
                         
                         
                                  
                                 
                         
                         
                                  
                                 </div>
                                 <div class="modal-footer">
                                   <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                                   <button type="submit" class="btn " style="background: #000000; color: white;">Save </button>
                                 
                                 </div>
                 
                             </form>
                         </div>
                       </div>
                         
                       </div>
                     </div>
                
                    
                   
                   </div>
                  
                </div>
                </div>
            </div>
    </div>

   

          

            <!-- Footer Start -->
            <div class="container-fluid  pt-4 px-4 fixed-bottom ">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">Elegantpurse</a>, All Right Reserved. 
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a href="https://htmlcodex.com">Thintry</a>
                        </br>
                        
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-dark btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> <!-- jQuery first -->
    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script> <!-- Then DataTables -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- Template Javascript -->
    <script src="/assets/javascript/main.js"></script>

    <!-- <script>
        $(document).ready( function () {
          $('#myTable').DataTable();
      } );
      </script>

    -->

    <script>
        function previewImage(event) {
            const fileInput = event.target;
            const file = fileInput.files[0];
            const preview = document.getElementById('preview-image');
    
            if (file) {
                const reader = new FileReader();
    
                reader.onload = function(e) {
                    preview.src = e.target.result;
                }
    
                reader.readAsDataURL(file);
            } else {
                preview.src = "#";
            }
        }
    </script>
      
       
      
       
</body>

</html>